<h1> Links </h1>
<ul id='url'>
  <% @links.each do |link| %>
    <li>
      Title: <%=link.title%>
      URL: <%=link.url%>
    </li>
  <% end %>
</ul>

  <form action="/tags" method="post">
    <label>
      Filter tags: 
      <input type='text' name='filter'/>
    </label>
    <input type="submit" value="Submit"/>
  </form>
