<h1> Please sign in </h1>

  <form action="/sign_in" method="post">
    <label>
      Email: 
      <input type='text' name='email'/>
    </label>
    <label>
      Password:
      <input type="text" name="password"/>
    </label>
    <input type="submit" value="Submit"/>
  </form>
